CityGML_Transformations/XMLSchema/CityGML 2.0/building.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- CityGML Version No. 2.0, February 2012 -->
<!-- CityGML - GML 3.1.1 application schema for 3D city models -->
<!-- International encoding standard of the Open Geospatial Consortium, see http://www.opengeospatial.org/standards/citygml -->
<!-- Jointly developed by the Special Interest Group 3D (SIG 3D) of GDI-DE, see http://www.sig3d.org               -->
<!-- For further information see: http://www.citygml.org -->
<xs:schema xmlns="http://www.opengis.net/citygml/building/2.0" xmlns:core="http://www.opengis.net/citygml/2.0"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml"
	targetNamespace="http://www.opengis.net/citygml/building/2.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0.0">
	<xs:annotation>
		<xs:documentation>
	CityGML is an OGC Standard.
	Copyright (c) 2012 Open Geospatial Consortium.
	To obtain additional rights of use, visit http://www.opengeospatial.org/legal/ .
		</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
	<xs:import namespace="http://www.opengis.net/citygml/2.0" schemaLocation="http://schemas.opengis.net/citygml/2.0/cityGMLBase.xsd"/>
	<!-- ========================================================================================= -->
	<!-- ===================================CityGML Building module ================================== -->
	<!-- ========================================================================================= -->
	<xs:complexType name="bldg:AbstractBuildingType" abstract="true">
		<xs:annotation>
			<xs:documentation>Type describing the thematic and geometric attributes and the associations of buildings. It is an abstract
				type, only its subclasses Building and BuildingPart can be instantiated. An _AbstractBuilding may consist of
				BuildingParts, which are again _AbstractBuildings by inheritance. Thus an aggregation hierarchy between _AbstractBuildings
				of arbitrary depth may be specified. In such an hierarchy, top elements are Buildings, while all other elements are
				BuildingParts. Each element of such a hierarchy may have all attributes and geometries of _AbstractBuildings. It must,
				however, be assured than no inconsistencies occur (for example, if the geometry of a Building does not correspond to the
				geometries of its parts, or if the roof type of a Building is saddle roof, while its parts have an hip roof). As subclass
				of _CityObject, an _AbstractBuilding inherits all attributes and relations, in particular an id, names, external
				references, and generalization relations. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="core:AbstractSiteType">
				<xs:sequence>
					<xs:annotation>
						<xs:documentation> The name will be represented by gml:name (inherited from _GML) . list order for
							storeyHeightsAboveground: first floor, second floor,... list order for storeyHeightsBelowground: first floor below
							ground, second floor below ground,... The lodXMultiSurface must be used, if the geometry of a building is just a
							collection of surfaces bounding a solid, but not a topologically clean solid boundary necessary for GML3 solid
							boundaries. </xs:documentation>
					</xs:annotation>
					<xs:element name="bldg:class" type="gml:CodeType" minOccurs="0"/>
					<xs:element name="bldg:function" type="gml:CodeType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="bldg:usage" type="gml:CodeType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="bldg:yearOfConstruction" type="xs:gYear" minOccurs="0"/>
					<xs:element name="bldg:yearOfDemolition" type="xs:gYear" minOccurs="0"/>
					<xs:element name="bldg:roofType" type="gml:CodeType" minOccurs="0"/>
					<xs:element name="bldg:measuredHeight" type="gml:LengthType" minOccurs="0"/>
					<xs:element name="bldg:storeysAboveGround" type="xs:nonNegativeInteger" minOccurs="0"/>
					<xs:element name="bldg:storeysBelowGround" type="xs:nonNegativeInteger" minOccurs="0"/>
					<xs:element name="bldg:storeyHeightsAboveGround" type="gml:MeasureOrNullListType" minOccurs="0"/>
					<xs:element name="bldg:storeyHeightsBelowGround" type="gml:MeasureOrNullListType" minOccurs="0"/>
					<xs:element name="bldg:lod0FootPrint" type="gml:MultiSurfacePropertyType" minOccurs="0"/>
					<xs:element name="bldg:lod0RoofEdge" type="gml:MultiSurfacePropertyType" minOccurs="0"/>
					<xs:element name="bldg:lod1Solid" type="gml:SolidPropertyType" minOccurs="0"/>
					<xs:element name="bldg:lod1MultiSurface" type="gml:MultiSurfacePropertyType" minOccurs="0"/>
					<xs:element name="bldg:lod1TerrainIntersection" type="gml:MultiCurvePropertyType" minOccurs="0"/>
					<xs:element name="bldg:lod2Solid" type="gml:SolidPropertyType" minOccurs="0"/>
					<xs:element name="bldg:lod2MultiSurface" type="gml:MultiSurfacePropertyType" minOccurs="0"/>
					<xs:element name="bldg:lod2MultiCurve" type="gml:MultiCurvePropertyType" minOccurs="0"/>
					<xs:element name="bldg:lod2TerrainIntersection" type="gml:MultiCurvePropertyType" minOccurs="0"/>
					<xs:element name="bldg:outerBuildingInstallation" type="bldg:BuildingInstallationPropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="bldg:interiorBuildingInstallation" type="bldg:IntBuildingInstallationPropertyType" minOccurs="0"
						maxOccurs="unbounded"/>
					<xs:element name="bldg:boundedBy" type="bldg:BoundarySurfacePropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="bldg:lod3Solid" type="gml:SolidPropertyType" minOccurs="0"/>
					<xs:element name="bldg:lod3MultiSurface" type="gml:MultiSurfacePropertyType" minOccurs="0"/>
					<xs:element name="bldg:lod3MultiCurve" type="gml:MultiCurvePropertyType" minOccurs="0"/>
					<xs:element name="bldg:lod3TerrainIntersection" type="gml:MultiCurvePropertyType" minOccurs="0"/>
					<xs:element name="bldg:lod4Solid" type="gml:SolidPropertyType" minOccurs="0"/>
					<xs:element name="bldg:lod4MultiSurface" type="gml:MultiSurfacePropertyType" minOccurs="0"/>
					<xs:element name="bldg:lod4MultiCurve" type="gml:MultiCurvePropertyType" minOccurs="0"/>
					<xs:element name="bldg:lod4TerrainIntersection" type="gml:MultiCurvePropertyType" minOccurs="0"/>
					<xs:element name="bldg:interiorRoom" type="bldg:InteriorRoomPropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="bldg:consistsOfBuildingPart" type="bldg:BuildingPartPropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="bldg:address" type="core:AddressPropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="bldg:_GenericApplicationPropertyOfAbstractBuilding" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================================================================= -->
	<xs:element name="bldg:_AbstractBuilding" type="bldg:AbstractBuildingType" abstract="true" substitutionGroup="core:_Site"/>
	<!-- ========================================================================================= -->
	<xs:element name="bldg:_GenericApplicationPropertyOfAbstractBuilding" type="xs:anyType" abstract="true"/>
	<!-- ========================================================================================= -->
	<xs:complexType name="bldg:BuildingType">
		<xs:complexContent>
			<xs:extension base="bldg:AbstractBuildingType">
				<xs:sequence>
					<xs:element ref="bldg:_GenericApplicationPropertyOfBuilding" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================================================================= -->
	<xs:element name="bldg:Building" type="bldg:BuildingType" substitutionGroup="bldg:_AbstractBuilding"/>
	<!-- ========================================================================================= -->
	<xs:element name="bldg:_GenericApplicationPropertyOfBuilding" type="xs:anyType" abstract="true"/>
	<!-- ========================================================================================= -->
	<xs:complexType name="bldg:BuildingPartType">
		<xs:complexContent>
			<xs:extension base="bldg:AbstractBuildingType">
				<xs:sequence>
					<xs:element ref="bldg:_GenericApplicationPropertyOfBuildingPart" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================================================================= -->
	<xs:element name="bldg:BuildingPart" type="bldg:BuildingPartType" substitutionGroup="bldg:_AbstractBuilding"/>
	<!-- ========================================================================================= -->
	<xs:element name="bldg:_GenericApplicationPropertyOfBuildingPart" type="xs:anyType" abstract="true"/>
	<!-- ========================================================================================= -->
	<xs:complexType name="bldg:BuildingPartPropertyType">
		<xs:annotation>
			<xs:documentation>Denotes the relation of an _AbstractBuilding to its building parts. The BuildingPartPropertyType element
				must either carry a reference to a BuildingPart object or contain a BuildingPart object inline, but neither both nor
				none.</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element ref="bldg:BuildingPart"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
	</xs:complexType>
	<!-- ========================================================================================= -->
	<xs:complexType name="bldg:BuildingInstallationType">
		<xs:annotation>
			<xs:documentation>A BuildingInstallation is a part of a Building which has not the significance of a BuildingPart. Examples
				are stairs, antennas, balconies or small roofs. As subclass of _CityObject, a BuildingInstallation inherits all attributes
				and relations, in particular an id, names, external references, and generalization relations. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="core:AbstractCityObjectType">
				<xs:sequence>
					<xs:element name="bldg:class" type="gml:CodeType" minOccurs="0"/>
					<xs:element name="bldg:function" type="gml:CodeType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="bldg:usage" type="gml:CodeType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="bldg:lod2Geometry" type="gml:GeometryPropertyType" minOccurs="0"/>
					<xs:element name="bldg:lod3Geometry" type="gml:GeometryPropertyType" minOccurs="0"/>
					<xs:element name="bldg:lod4Geometry" type="gml:GeometryPropertyType" minOccurs="0"/>
					<xs:element name="bldg:lod2ImplicitRepresentation" type="core:ImplicitRepresentationPropertyType" minOccurs="0"/>
					<xs:element name="bldg:lod3ImplicitRepresentation" type="core:ImplicitRepresentationPropertyType" minOccurs="0"/>
					<xs:element name="bldg:lod4ImplicitRepresentation" type="core:ImplicitRepresentationPropertyType" minOccurs="0"/>
					<xs:element name="bldg:boundedBy" type="bldg:BoundarySurfacePropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="bldg:_GenericApplicationPropertyOfBuildingInstallation" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================================================================= -->
	<xs:element name="bldg:BuildingInstallation" type="bldg:BuildingInstallationType" substitutionGroup="core:_CityObject"/>
	<!-- ========================================================================================= -->
	<xs:element name="bldg:_GenericApplicationPropertyOfBuildingInstallation" type="xs:anyType" abstract="true"/>
	<!-- ========================================================================================= -->
	<xs:complexType name="bldg:BuildingInstallationPropertyType">
		<xs:annotation>
			<xs:documentation>Denotes the relation of an _AbstractBuilding to its building installations. The
				BuildingInstallationPropertyType element must either carry a reference to a BuildingInstallation object or contain a
				BuildingInstallation object inline, but neither both nor none. </xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element ref="bldg:BuildingInstallation"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
	</xs:complexType>
	<!-- ========================================================================================= -->
	<xs:complexType name="bldg:IntBuildingInstallationType">
		<xs:annotation>
			<xs:documentation>An IntBuildingInstallation is an interior part of a Building which has a specific function or semantical
				meaning. Examples are interior stairs, railings, radiators or pipes. As subclass of _CityObject, a
				nIntBuildingInstallation inherits all attributes and relations, in particular an id, names, external references, and
				generalization relations. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="core:AbstractCityObjectType">
				<xs:sequence>
					<xs:element name="bldg:class" type="gml:CodeType" minOccurs="0"/>
					<xs:element name="bldg:function" type="gml:CodeType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="bldg:usage" type="gml:CodeType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="bldg:lod4Geometry" type="gml:GeometryPropertyType" minOccurs="0"/>
					<xs:element name="bldg:lod4ImplicitRepresentation" type="core:ImplicitRepresentationPropertyType" minOccurs="0"/>
					<xs:element name="bldg:boundedBy" type="bldg:BoundarySurfacePropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="bldg:_GenericApplicationPropertyOfIntBuildingInstallation" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================================================================= -->
	<xs:element name="bldg:IntBuildingInstallation" type="bldg:IntBuildingInstallationType" substitutionGroup="core:_CityObject"/>
	<!-- ========================================================================================= -->
	<xs:element name="bldg:_GenericApplicationPropertyOfIntBuildingInstallation" type="xs:anyType" abstract="true"/>
	<!-- ========================================================================================= -->
	<xs:complexType name="bldg:IntBuildingInstallationPropertyType">
		<xs:annotation>
			<xs:documentation>Denotes the relation of an _AbstractBuilding to its interior building installations. The
				IntBuildingInstallationPropertyType element must either carry a reference to a IntBuildingInstallation object or contain a
				IntBuildingInstallation object inline, but neither both nor none. </xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element ref="bldg:IntBuildingInstallation"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
	</xs:complexType>
	<!-- ========================================================================================= -->
	<!-- ========================SURFACES OF BUILDINGS AND ROOMS( LOD2 to LOD4)====================-->
	<!-- ========================================================================================= -->
	<xs:complexType name="bldg:AbstractBoundarySurfaceType" abstract="true">
		<xs:annotation>
			<xs:documentation>A BoundarySurface is a thematic object which classifies surfaces bounding an _AbstractBuilding, Room,
				BuildingInstallation, and IntBuildingInstallation. The geometry of a BoundarySurface is given by MultiSurfaces. As it is a
				subclass of _CityObject, it inherits all atributes and relations, in particular the external references, and the
				generalization relations. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="core:AbstractCityObjectType">
				<xs:sequence>
					<xs:element name="bldg:lod2MultiSurface" type="gml:MultiSurfacePropertyType" minOccurs="0"/>
					<xs:element name="bldg:lod3MultiSurface" type="gml:MultiSurfacePropertyType" minOccurs="0"/>
					<xs:element name="bldg:lod4MultiSurface" type="gml:MultiSurfacePropertyType" minOccurs="0"/>
					<xs:element name="bldg:opening" type="bldg:OpeningPropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="bldg:_GenericApplicationPropertyOfBoundarySurface" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================================================================== -->
	<xs:element name="bldg:_BoundarySurface" type="bldg:AbstractBoundarySurfaceType" abstract="true" substitutionGroup="core:_CityObject"/>
	<!-- ========================================================================================== -->
	<xs:element name="bldg:_GenericApplicationPropertyOfBoundarySurface" type="xs:anyType" abstract="true"/>
	<!-- ========================================================================================== -->
	<xs:complexType name="bldg:RoofSurfaceType">
		<xs:complexContent>
			<xs:extension base="bldg:AbstractBoundarySurfaceType">
				<xs:sequence>
					<xs:element ref="bldg:_GenericApplicationPropertyOfRoofSurface" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================================================================== -->
	<xs:element name="bldg:RoofSurface" type="bldg:RoofSurfaceType" substitutionGroup="bldg:_BoundarySurface"/>
	<!-- ========================================================================================== -->
	<xs:element name="bldg:_GenericApplicationPropertyOfRoofSurface" type="xs:anyType" abstract="true"/>
	<!-- ========================================================================================== -->
	<xs:complexType name="bldg:WallSurfaceType">
		<xs:complexContent>
			<xs:extension base="bldg:AbstractBoundarySurfaceType">
				<xs:sequence>
					<xs:element ref="bldg:_GenericApplicationPropertyOfWallSurface" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================================================================= -->
	<xs:element name="bldg:WallSurface" type="bldg:WallSurfaceType" substitutionGroup="bldg:_BoundarySurface"/>
	<!-- ========================================================================================= -->
	<xs:element name="bldg:_GenericApplicationPropertyOfWallSurface" type="xs:anyType" abstract="true"/>
	<!-- ========================================================================================= -->
	<xs:complexType name="bldg:GroundSurfaceType">
		<xs:complexContent>
			<xs:extension base="bldg:AbstractBoundarySurfaceType">
				<xs:sequence>
					<xs:element ref="bldg:_GenericApplicationPropertyOfGroundSurface" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================================================================= -->
	<xs:element name="bldg:GroundSurface" type="bldg:GroundSurfaceType" substitutionGroup="bldg:_BoundarySurface"/>
	<!-- ========================================================================================= -->
	<xs:element name="bldg:_GenericApplicationPropertyOfGroundSurface" type="xs:anyType" abstract="true"/>
	<!-- ========================================================================================= -->
	<xs:complexType name="bldg:ClosureSurfaceType">
		<xs:complexContent>
			<xs:extension base="bldg:AbstractBoundarySurfaceType">
				<xs:sequence>
					<xs:element ref="bldg:_GenericApplicationPropertyOfClosureSurface" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================================================================= -->
	<xs:element name="bldg:ClosureSurface" type="bldg:ClosureSurfaceType" substitutionGroup="bldg:_BoundarySurface"/>
	<!-- ========================================================================================= -->
	<xs:element name="bldg:_GenericApplicationPropertyOfClosureSurface" type="xs:anyType" abstract="true"/>
	<!-- ========================================================================================= -->
	<!-- ===================================LOD4 only Surfaces======================================= -->
	<!-- ========================================================================================= -->
	<xs:complexType name="bldg:FloorSurfaceType">
		<xs:complexContent>
			<xs:extension base="bldg:AbstractBoundarySurfaceType">
				<xs:sequence>
					<xs:element ref="bldg:_GenericApplicationPropertyOfFloorSurface" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================================================================= -->
	<xs:element name="bldg:FloorSurface" type="bldg:FloorSurfaceType" substitutionGroup="bldg:_BoundarySurface"/>
	<!-- ========================================================================================= -->
	<xs:element name="bldg:_GenericApplicationPropertyOfFloorSurface" type="xs:anyType" abstract="true"/>
	<!-- ========================================================================================= -->
	<xs:complexType name="bldg:OuterFloorSurfaceType">
		<xs:complexContent>
			<xs:extension base="bldg:AbstractBoundarySurfaceType">
				<xs:sequence>
					<xs:element ref="bldg:_GenericApplicationPropertyOfOuterFloorSurface" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================================================================== -->
	<xs:element name="bldg:OuterFloorSurface" type="bldg:OuterFloorSurfaceType" substitutionGroup="bldg:_BoundarySurface"/>
	<!-- ========================================================================================== -->
	<xs:element name="bldg:_GenericApplicationPropertyOfOuterFloorSurface" type="xs:anyType" abstract="true"/>
	<!-- ========================================================================================== -->
	<xs:complexType name="bldg:InteriorWallSurfaceType">
		<xs:complexContent>
			<xs:extension base="bldg:AbstractBoundarySurfaceType">
				<xs:sequence>
					<xs:element ref="bldg:_GenericApplicationPropertyOfInteriorWallSurface" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================================================================= -->
	<xs:element name="bldg:InteriorWallSurface" type="bldg:InteriorWallSurfaceType" substitutionGroup="bldg:_BoundarySurface"/>
	<!-- ========================================================================================= -->
	<xs:element name="bldg:_GenericApplicationPropertyOfInteriorWallSurface" type="xs:anyType" abstract="true"/>
	<!-- ========================================================================================= -->
	<xs:complexType name="bldg:CeilingSurfaceType">
		<xs:complexContent>
			<xs:extension base="bldg:AbstractBoundarySurfaceType">
				<xs:sequence>
					<xs:element ref="bldg:_GenericApplicationPropertyOfCeilingSurface" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================================================================= -->
	<xs:element name="bldg:CeilingSurface" type="bldg:CeilingSurfaceType" substitutionGroup="bldg:_BoundarySurface"/>
	<!-- ========================================================================================= -->
	<xs:element name="bldg:_GenericApplicationPropertyOfCeilingSurface" type="xs:anyType" abstract="true"/>
	<!-- ========================================================================================= -->
	<xs:complexType name="bldg:OuterCeilingSurfaceType">
		<xs:complexContent>
			<xs:extension base="bldg:AbstractBoundarySurfaceType">
				<xs:sequence>
					<xs:element ref="bldg:_GenericApplicationPropertyOfOuterCeilingSurface" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================================================================== -->
	<xs:element name="bldg:OuterCeilingSurface" type="bldg:OuterCeilingSurfaceType" substitutionGroup="bldg:_BoundarySurface"/>
	<!-- ========================================================================================== -->
	<xs:element name="bldg:_GenericApplicationPropertyOfOuterCeilingSurface" type="xs:anyType" abstract="true"/>
	<!-- ========================================================================================= -->
	<!-- =============================Relation of Buildings/Rooms to its bounding Surfaces================== -->
	<!-- ========================================================================================= -->
	<xs:complexType name="bldg:BoundarySurfacePropertyType">
		<xs:annotation>
			<xs:documentation>Denotes the relation of an _AbstractBuilding to its bounding thematic surfaces (walls, roofs, ..). The
				BoundarySurfacePropertyType element must either carry a reference to a _BoundarySurface object or contain a
				_BoundarySurface object inline, but neither both nor none. There is no differentiation between interior surfaces bounding
				rooms and outer ones bounding buildings (one reason is, that ClosureSurface belongs to both types). It has to be made sure
				by additional integrity constraints that, e.g. an _AbstractBuilding is not related to CeilingSurfaces or a room not to
				RoofSurfaces. </xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element ref="bldg:_BoundarySurface"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
	</xs:complexType>
	<!-- ========================================================================================= -->
	<!-- ================================Openings (LOD3 and LOD4 only)================================ -->
	<!-- ========================================================================================= -->
	<xs:complexType name="bldg:OpeningPropertyType">
		<xs:annotation>
			<xs:documentation>Denotes the relation of an _BondarySurface to its openings (doors, windows). The OpeningPropertyType
				element must either carry a reference to an _Opening object or contain an _Opening object inline, but neither both nor
				none. </xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element ref="bldg:_Opening"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
	</xs:complexType>
	<!-- ========================================================================================= -->
	<xs:complexType name="bldg:AbstractOpeningType" abstract="true">
		<xs:annotation>
			<xs:documentation> Type for openings (doors, windows) in boundary surfaces. Used in LOD3 and LOD4 only. As subclass of
				_CityObject, an _Opening inherits all attributes and relations, in particular an id, names, external references, and
				generalization relations. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="core:AbstractCityObjectType">
				<xs:sequence>
					<xs:element name="bldg:lod3MultiSurface" type="gml:MultiSurfacePropertyType" minOccurs="0"/>
					<xs:element name="bldg:lod4MultiSurface" type="gml:MultiSurfacePropertyType" minOccurs="0"/>
					<xs:element name="bldg:lod3ImplicitRepresentation" type="core:ImplicitRepresentationPropertyType" minOccurs="0"/>
					<xs:element name="bldg:lod4ImplicitRepresentation" type="core:ImplicitRepresentationPropertyType" minOccurs="0"/>
					<xs:element ref="bldg:_GenericApplicationPropertyOfOpening" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================================================================= -->
	<xs:element name="bldg:_Opening" type="bldg:AbstractOpeningType" abstract="true" substitutionGroup="core:_CityObject"/>
	<!-- ========================================================================================= -->
	<xs:element name="bldg:_GenericApplicationPropertyOfOpening" type="xs:anyType" abstract="true"/>
	<!-- ========================================================================================= -->
	<xs:complexType name="bldg:WindowType">
		<xs:annotation>
			<xs:documentation> Type for windows in boundary surfaces. Used in LOD3 and LOD4 only . As subclass of _CityObject, a window
				inherits all attributes and relations, in particular an id, names, external references, and generalization relations.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bldg:AbstractOpeningType">
				<xs:sequence>
					<xs:element ref="bldg:_GenericApplicationPropertyOfWindow" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================================================================= -->
	<xs:element name="bldg:Window" type="bldg:WindowType" substitutionGroup="bldg:_Opening"/>
	<!-- ========================================================================================= -->
	<xs:element name="bldg:_GenericApplicationPropertyOfWindow" type="xs:anyType" abstract="true"/>
	<!-- ========================================================================================= -->
	<xs:complexType name="bldg:DoorType">
		<xs:annotation>
			<xs:documentation> Type for doors in boundary surfaces. Used in LOD3 and LOD4 only . As subclass of _CityObject, a Door
				inherits all attributes and relations, in particular an id, names, external references, and generalization relations.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bldg:AbstractOpeningType">
				<xs:sequence>
					<xs:element name="bldg:address" type="core:AddressPropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="bldg:_GenericApplicationPropertyOfDoor" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================================================================= -->
	<xs:element name="bldg:Door" type="bldg:DoorType" substitutionGroup="bldg:_Opening"/>
	<!-- ========================================================================================= -->
	<xs:element name="bldg:_GenericApplicationPropertyOfDoor" type="xs:anyType" abstract="true"/>
	<!-- ========================================================================================= -->
	<!-- ====================================ROOMS (LOD4 only)===================================== -->
	<!-- ========================================================================================= -->
	<xs:complexType name="bldg:RoomType">
		<xs:annotation>
			<xs:documentation>A Room is a thematic object for modelling the closed parts inside a building. It has to be closed, if
				necessary by using closure surfaces. The geometry may be either a solid, or a MultiSurface if the boundary is not
				topologically clean. The room connectivity may be derived by detecting shared thematic openings or closure surfaces: two
				rooms are connected if both use the same opening object or the same closure surface. The thematic surfaces bounding a room
				are referenced by the boundedBy property. As subclass of _CityObject, a Room inherits all attributes and relations, in
				particular an id, names, external references, and generalization relations. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="core:AbstractCityObjectType">
				<xs:sequence>
					<xs:element name="bldg:class" type="gml:CodeType" minOccurs="0"/>
					<xs:element name="bldg:function" type="gml:CodeType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="bldg:usage" type="gml:CodeType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="bldg:lod4Solid" type="gml:SolidPropertyType" minOccurs="0"/>
					<xs:element name="bldg:lod4MultiSurface" type="gml:MultiSurfacePropertyType" minOccurs="0"/>
					<xs:element name="bldg:boundedBy" type="bldg:BoundarySurfacePropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="bldg:interiorFurniture" type="bldg:InteriorFurniturePropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="bldg:roomInstallation" type="bldg:IntBuildingInstallationPropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="bldg:_GenericApplicationPropertyOfRoom" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================================================================= -->
	<xs:element name="bldg:Room" type="bldg:RoomType" substitutionGroup="core:_CityObject"/>
	<!-- ========================================================================================= -->
	<xs:element name="bldg:_GenericApplicationPropertyOfRoom" type="xs:anyType" abstract="true"/>
	<!-- ========================================================================================= -->
	<xs:complexType name="bldg:BuildingFurnitureType">
		<xs:annotation>
			<xs:documentation>Type for building furnitures. As subclass of _CityObject, a BuildingFurniture inherits all attributes and
				relations, in particular an id, names, external references, and generalization relations. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="core:AbstractCityObjectType">
				<xs:sequence>
					<xs:element name="bldg:class" type="gml:CodeType" minOccurs="0"/>
					<xs:element name="bldg:function" type="gml:CodeType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="bldg:usage" type="gml:CodeType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="bldg:lod4Geometry" type="gml:GeometryPropertyType" minOccurs="0"/>
					<xs:element name="bldg:lod4ImplicitRepresentation" type="core:ImplicitRepresentationPropertyType" minOccurs="0"/>
					<xs:element ref="bldg:_GenericApplicationPropertyOfBuildingFurniture" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================================================================= -->
	<xs:element name="bldg:BuildingFurniture" type="bldg:BuildingFurnitureType" substitutionGroup="core:_CityObject"/>
	<!-- ========================================================================================= -->
	<xs:element name="bldg:_GenericApplicationPropertyOfBuildingFurniture" type="xs:anyType" abstract="true"/>
	<!-- ========================================================================================= -->
	<!-- ============================Relation of Building to Rooms (LOD4 only)============================ -->
	<!-- ========================================================================================= -->
	<xs:complexType name="bldg:InteriorRoomPropertyType">
		<xs:annotation>
			<xs:documentation>Denotes the relation of an _AbstractBuilding to its rooms. The InteriorRoomPropertyType element must
				either carry a reference to a Room object or contain a Room object inline, but neither both nor none. </xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element ref="bldg:Room"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
	</xs:complexType>
	<!-- ========================================================================================= -->
	<xs:complexType name="bldg:InteriorFurniturePropertyType">
		<xs:annotation>
			<xs:documentation>Denotes the relation of a Room to its interior furnitures (movable). The InteriorFurniturePropertyType
				element must either carry a reference to a BuildingFurniture object or contain a BuildingFurniture object inline, but
				neither both nor none. </xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element ref="bldg:BuildingFurniture"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
	</xs:complexType>
	<!-- ========================================================================================= -->
</xs:schema>
